<%-include("../../partials/header2")%>

     <!--Cart Page-->
     <div class="cartpage">
        <div class="carticon">
            <span>0</span>
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>
    <!--END OF Cart page-->

<div class="shop">
    <div class="shop-container">
        <div class="shop-head">
            <div class="shop-tab active" data-tab="physical">Physical items</div>
            <div class="shop-tab" data-tab="external">Digital Products</div>
        </div>
        <div class="shop-body active" id="physical">
            <div class="shop-content">
                <div class="shop-img">
                    <img class="shop-img1" src="/image/444 1.png" width="120" height="90" />
                </div>
                <div class="shop-title">Maxi 42" Inches FHD Smart TV (D2010).</div>
                <span class="info" onclick="openPopup()">More Drtails  <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                <div class="shop-pro">
                    <div class="price">$20,000</div>
                    <div class="add">Add to cart</div>
                </div>
                <div class="shop-pro">
                    <div class="commt">Resell and earn 25% commission!</div>
                    <div class="resell" onclick="togglePopup('resell')">Resell</div>
                </div>
                <div class="shop-location">
                    <p>Seller Location: Lagos,NG</p>
                </div>
            </div>
            <div class="shop-content">
                <div class="shop-img">
                    <img class="shop-img1" src="/image/444 1.png" width="120" height="90" />
                </div>
                <div class="shop-title">Maxi 42" Inches FHD Smart TV (D2010).</div>
                <span class="info" onclick="openPopup()">More Drtails  <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                <div class="shop-pro">
                    <div class="price">$20,000</div>
                    <div class="add">Add to cart</div>
                </div>
                <div class="shop-pro">
                    <div class="commt">Resell and earn 25% commission!</div>
                    <div class="resell"onclick="togglePopup('resell')">Resell</div>
                </div>
                <div class="shop-location">
                    <p>Seller Location: Lagos,NG</p>
                </div>
            </div>

        </div>

        <div class="shop-body" id="external">
            <div class="shop-content">
                <div class="shop-img">
                    <img class="shop-img1" src="/image/digital_products.jpg" width="120" height="90" />
                </div>
                <div class="shop-title">Facebook Ads Sales Generator Program.</div>
                <div class="shop-pro">
                    <div class="price">$1,000</div>
                    <div class="add" onclick="digitalPopup('digital')">Promote</div>
                </div>
                <div class="shop-comment"><p>Earn a generous 25% commission when you resell this products!</p></div>
                <div class="shop-location dg-name">
                    <p class="dg-name">By Alphatech Multimedia</p>
                </div>
            </div>
            <div class="shop-content">
                <div class="shop-img">
                    <img class="shop-img1" src="/image/digital_products.jpg" width="120" height="90" />
                </div>
                <div class="shop-title">Facebook Ads Sales Generator Program.</div>
                <div class="shop-pro">
                    <div class="price">$1,000</div>
                    <div class="add" onclick="digitalPopup('digital')">Promote</div>
                </div>
                <div class="shop-comment"><p>Earn a generous 25% commission when you resell this products!</p></div>
                <div class="shop-location dg-name">
                    <p class="dg-name">By Alphatech Multimedia</p>
                </div>
            </div>

            <div class="shop-content">
                <div class="shop-img">
                    <img class="shop-img1" src="/image/digital_products.jpg" width="120" height="90" />
                </div>
                <div class="shop-title">Facebook Ads Sales Generator Program.</div>
                <div class="shop-pro">
                    <div class="price">$1,000</div>
                    <div class="add" onclick="digitalPopup('digital')">Promote</div>
                </div>
                <div class="shop-comment"><p>Earn a generous 25% commission when you resell this products!</p></div>
                <div class="shop-location dg-name">
                    <p class="dg-name">By Alphatech Multimedia</p>
                </div>
            </div>
        

        </div>
    </div>
</div>






<%-include("./partials/shopModals")%>
<%-include("./partials/resellModals")%>
<%-include("./partials/digitalModals")%>

        <%-include("../../partials/sidebar")%>
            <%-include("../../partials/footer")%>